<div class="main-wrapper">
    <div class="navigation js--nav">
        <div class="header-nav">
            <a href="#" class="js--open-nav">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <ul class="menu-list">
            <li class="menu-item">
                <a href="home-user" class="item">
                    Trang chủ
                </a>
            </li>
            <li class="menu-item">
                <a href="#" (click)="logout()" class="item">
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>
    <div class="header">
        <div class="container-fluid">
            <div class="info-user">
                <div class="row">
                    <div class="col-3">
                        <div class="avatar">
                            <img class="img-fluid" src="{{avatarurl}}" alt="avatar">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="info">
                            <h5 class="name">{{ user.fullName }}</h5>
                            <p class="role">Thành viên</p>
                            <a href="edit-profile">Chỉnh sửa hồ sơ</a>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="bar-icon js--open-nav">
                            <i class="fas fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End div.header -->
    <div class="bread-crumb">
        <div class="container-fluid">
            <div class="text">
                <a href="home-user">Trang chủ</a>
                <span>/</span>
                <a href="created-event" class="active">Event đã tạo</a>
            </div>
        </div>
    </div>
    <!-- End div.bread-crumb -->
    <div class="event-list">
        <div class="container-fluid">
            <div class="title">
                <h3>Event đã tạo <a href="create-event" class="float-right"><i class="fas fa-plus"></i></a></h3>
            </div>
            <div class="search-form">
                <form action="#">
                    <input type="text" name="search" class="form-control" placeholder="Tìm kiếm event" autocomplete="off">
                </form>
            </div>
            <div class="projects">
                <ul *ngFor="let row of projects">
                    <li class="project" *ngIf="row.user._id === userId" [ngStyle]="{'background-image':'url(http://192.168.0.102:1337'+row.avatar.url+')'}">
                        <a (click)="getProjectId(row._id)" href="create-event-detail" class="text">
                            <h6>{{row.name}}</h6>
                            <div class="time">
                                <span>12:00,</span>
                                <span>{{row.time}}</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End div.container-fluid -->
    </div>
    <!-- end div.event-list -->
</div>