<video autoplay muted loop class="video-background">
    <source src="../assets/resources/css/img/vi_background.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

<header class="header-home">
    <nav>
        <div class="container">
            <img class="logo" src="../assets/resources/img/logo-white.png" alt="Logo Website">
            <ul class="main-nav">
                <li><a href="login">Đăng nhập</a></li>
                <li><a href="register">Đăng ký</a></li>
                <li><a href="#">Thông tin</a></li>
            </ul>
            <ul class="mobile-nav js--main-nav">
                <li><a href="login">Đăng nhập</a></li>
                <li><a href="#">Đăng ký</a></li>
                <li><a href="#">Thông tin</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="fas fa-bars"></i></a>
        </div>
    </nav>
    <div class="hero-text-box container">
        <h1>Xin chào bạn,<br>Hãy tham gia cùng bọn mình nhé!</h1>
        <a class="btn btn-full" href="login">Đăng nhập</a>
    </div>
</header>