.main-wrapper {
    position: relative;
    min-height: 100%;
}

.navigation {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    .header-nav {
        width: 100%;
        text-align: right;
        padding: 20px 25px;
        a {
            font-size: 24px;
            color: #C4C4C4;
        }
    }
    ul.menu-list {
        width: 100%;
        list-style-type: none;
        li.menu-item {
            width: 100%;
            padding: 20px 0;
            text-align: center;
            a {
                color: #cacaca;
                text-decoration: none;
                padding: 10px 25px;
                border-bottom: 1px dotted #C4C4C4;
                transition: 0.3s all;
            }
            a:hover {
                color: #E67E22;
                border-bottom: 1px dotted #E67E22;
            }
        }
    }
}

.header {
    margin-bottom: 20px;
    padding: 30px;
    @media (max-width: 576px) {
        padding: 30px 0;
        margin-bottom: 0px;
    }
    .info-user {
        .row .col-7 {
            padding: 0;
        }
        .info {
            text-align: center;
            h5.name {
                font-size: 24px;
                margin-bottom: 3px;
            }
            p.role {
                font-size: 14px;
                color: #EF5454;
                font-weight: 700;
                margin-bottom: 3px;
            }
            a {
                color: #C4C4C4;
                font-size: 16px;
                text-decoration: none;
                transition: 0.3s all;
            }
            a:hover {
                color: #E67E22;
            }
        }
        .bar-icon {
            text-align: center;
        }
        .bar-icon i {
            font-size: 30px;
            cursor: pointer;
            @media (max-width: 576px) {
                font-size: 25px;
            }
        }
    }
}

.block {
    margin: 30px 0;
    a {
        display: block;
        width: 100%;
        padding: 50px 20px;
        background-color: #E67E22;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        font-size: 24px;
        opacity: 0.9;
        transition: 0.3s all;
        i {
            float: right;
            margin-top: 6px;
        }
    }
    a:hover {
        opacity: 1;
    }
    a.create {
        background-color: #DC4E41;
    }
    a.join {
        background-color: #2141E4;
    }
}